.header {
  display: grid;
  grid-template-columns: 454px 1fr 450px;
  grid-template-rows: auto;
  justify-items: center;
  padding: 92px 24px 96px;
  font-size: 18px;
  letter-spacing: 0.01em;
}

.header__menu {
  align-self: center;
  padding: 4px 10px 0 0;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  text-underline-offset: 4px;
  list-style: circle;
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  padding: 6px 26px 0 0;
  line-height: 24.3px;
  text-underline-offset: 4px;
}

.header__address {
  max-width: 240px;
}

.cover {
  position: relative;
  padding: 165px 50px 51px 50px;
  background-image: url(../images/lotus-flower.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 135px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.aligned-text_center {
  display: block;
  line-height: 100%;
  text-align: center;
}

.aligned-text_right {
  display: block;
  line-height: 100%;
  text-align: right;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  min-width: 700px;
  padding-left: 26px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  display: block;
  border: 1px solid currentColor;
  padding: 12px 32px 11px 31px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  padding: 179px 24px 146px 24px;
}

.lots__heading {
  padding: 0 891px 27px 40px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 563px;
}

.card-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card__title {
  z-index: 2;
  padding: 51px 40px 0px 40px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  z-index: 2;
  padding: 0px 40px 48px 40px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  padding-left: 40px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 23px;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
  text-underline-position: under;
}

.about {
  display: grid;
  grid-template-columns: 359px 1fr;
  padding: 0px 24px 180px 24px;
}

.about__logo {
  width: 240px;
  height: 240px;
  margin: 35px 0 0 47px;
  border-radius: 50%;
  background: #000000;
}

.about__logo-image {
  display: block;
  width: 149px;
  height: 115px;
  margin: 64px 46px;
}

.about__title {
  padding: 136px 0px 100px 0px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: 47px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.002em;
}

.footer {
  display: grid;
  grid-template-columns: 240px 1fr 240px;
  justify-items: center;
  padding: 0px 50px 88px 50px;
}

.footer address {
  padding-top: 0;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.footer__menu {
  padding-top: 2px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
  text-align: center;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list a {
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
